{% extends "base.html" %}
{% load static %}
{% block title %}Mon CV{% endblock %}
 
{% block content %}
  <div id="apropos">
    <div class="container-apropos">
      <div class="row" style="background-color: rgb(23, 104, 144)">
          <div class="col-lg-3">
            <img width="250" height="280" src={% static 'cv_app/image/image.jpg' %}/><br>
          </div>
          
          <div class="col-lg-9">
            <div class="data">
              Nom    : {{ firstname}} {{ lastname}} <br>
              Date de naissance: {{ date_of_birth}}<br>
              Adresse      : {{ adress }}<br>
              Email        : {{ email }}<br>
              Numéro de téléphone : {{ phoneNumber }}<br>
            </div> 
          </div>    
      </div>
    </div>
    </div>
  </div>
  <div id="competences">
      <div class="card" >
        <div class="card-header">
        <h4>Mes competences</h4>
        <ul class="list-unstyled">
          <li>Langues parles : Français, Nerlandais, Anglais</li>
          <li>Langages Informatique : JavaScript, php, MSQL, Python</li>
          <li>Les frameworks : React, Symfony, Django</li>
          <li>Logiciels: Sage, Ciel</li>
        </ul>
      </div>
  </div>
  <div id="Education">  
      <div class="card" >
        <div class="card-header">
          <h4>Education</h4>
        </div>
        <ul class="list-unstyled">
          <li>Bachelie en informatique de gestion</li>
        </ul>
      </div>
  </div>
  <div id="Expériences">     
      <div class="card" >
        <div class="card-header">
          <h4>Expériences professionnelles</h4>
          <ul class="list-unstyled">
          <li>2016-2017: cours Nerlandais</li>
          <li>2014-2015: travailler en production chez "Fiveling Appingedaam</li>
          <li>2008-2010: faire du bénévolat auprès des personnes âgées en les aidant à utiliser le word office chez "Sii"</li>
        </ul>
      </div>
  </div>    
      
  </div>

{% endblock  %}
 
</body>
</html>